<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Web.CreativeAgency All rights reserved - <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
    </div>
</footer>