@{
    ViewData["Title"] = "About Us – Creative Agency";
    ViewData["MetaDescription"] = "Who we are and what we do.";
}
<h2>About Our Creative Agency</h2>
<br />
<br />
<br />
<section class="mb-4">
    <h4>Who We Are</h4>
    <p>We are a passionate team of designers, developers, and marketers committed to building creative digital experiences.</p>
</section>
<section class="mb-4">
    <h4>What We Do</h4>
    <p>From branding and web design to social media management and SEO, we offer a full range of services tailored to your business needs.</p>
</section>
<br />
<br />
<br />
<br />
